html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff9f9;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}

.sidebar-left {
  opacity: 1;
  transition: opacity 1600ms;
  z-index: 2000;
}

.sidebar-left a, .sidebar-left a:hover, .siderbar-left a:visited {
  color: #000000;
}

.sidebar-right {
  opacity: 1;
  transition: opacity 1600ms;
  z-index: 1000;
}

.sidebar-right a, .sidebar-right a:hover, .siderbar-left a:right {
  color: #000000;
}

.sidebar-email {
  position: fixed;
  height: 100vh;
  text-decoration: none;
  z-index: 1002;
}

.sidebar-left-text {
  position: fixed;
  display: inline-block;
  top: 40vh;
  left: -10px;
  padding: 0;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #000000;
  z-index: 1000;

   -webkit-transform: rotate(-90deg) translate(-50%, 50%);
   -moz-transform: rotate(-90deg) translate(-50%, 50%);

   -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3.5s; /* Firefox < 16 */
    -ms-animation: fadein 3.5s; /* Internet Explorer */
     -o-animation: fadein 3.5s; /* Opera < 12.1 */
        animation: fadein 3.5s;
}

.sidebar-right-text {
  position: fixed;
  top: 52vh;
  right: -25px;
  padding: 0;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #000000;
  z-index: 1000;

  -webkit-transform: rotate(90deg) translate(-50%, 50%);
  -moz-transform: rotate(90deg) translate(-50%, 50%);

  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3.5s; /* Firefox < 16 */
   -ms-animation: fadein 3.5s; /* Internet Explorer */
    -o-animation: fadein 3.5s; /* Opera < 12.1 */
       animation: fadein 3.5s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }

}

.LP {
  width: 100%;
  height: 200px;
}

.LP-text {
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
}

.LP-text img {
  width: 100%;
  text-align: center;
}

.site-content-1 {
  width: 800px;
  height: 1300px;
  display: block;
  position: relative;
  margin: 0 auto;
}

#flower1 {
  width: 200px;
  position: absolute;
  top: 30px;
  left: -170px;
}

.boomerangpic img {
  width: 500px;
  position: absolute;
  top: 250px;
  right: -50px;
  z-index: 101;
}

.viewprojectpic1 img {
  width: 500px;
  position: absolute;
  top: 250px;
  right: -50px;
  z-index: 100;
}

.boomerangpic img:hover {
  opacity: 0;
  transition: 0.6s ease;
}

.boomerangtext {
  position: absolute;
  top: 620px;
  left: 350px;
}

.boomerangtext p {
  font-family: "Fira Sans Four", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.boomerangtext h1 {
  margin-top: -10px;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}

#whale {
  width: 200px;
  position: absolute;
  top: 850px;
  right: -170px;
}

#flower2 {
  width: 350px;
  position: absolute;
  top: 900px;
  left: 430px;
  opacity: 0.7;
}

.bubbleliciouspic img {
  width: 500px;
  position: absolute;
  top: 770px;
  left: -100px;
  z-index: 101;
}

.viewprojectpic2 img {
  width: 500px;
  position: absolute;
  top: 770px;
  left: -100px;
  z-index: 100;
}

.bubbleliciouspic img:hover {
  opacity: 0;
  transition: 0.6s ease;
}

.bubblelicioustext {
  position: absolute;
  top: 1140px;
  left: -100px;
}

.bubblelicioustext p {
  font-family: "Fira Sans Four", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.bubblelicioustext h1 {
  margin-top: -10px;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}

.site-content-2 {
  width: 800px;
  height: 1000px;
  display: block;
  position: relative;
  margin: 0 auto;
}

.missingpeoplepic img {
  width: 500px;
  position: absolute;
  top: 20px;
  right: -50px;
  z-index: 101;
}

.viewprojectpic3 img {
  width: 500px;
  position: absolute;
  top: 20px;
  right: -50px;
  z-index: 100;
}

.missingpeoplepic img:hover {
  opacity: 0;
  transition: 0.6s ease;
}

.missingpeopletext {
  position: absolute;
  top: 370px;
  left: 350px;
}

.missingpeopletext p {
  font-family: "Fira Sans Four", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.missingpeopletext h1 {
  margin-top: -10px;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}

#cycle {
  width: 150px;
  position: absolute;
  top: 1650px;
  left: 0px;
}

.kittenscuppic img {
  width: 500px;
  position: absolute;
  top: 500px;
  left: -100px;
  z-index: 101;
}

.viewprojectpic4 img {
  width: 500px;
  position: absolute;
  top: 500px;
  left: -100px;
  z-index: 100;
}

.kittenscuppic img:hover {
  opacity: 0;
  transition: 0.6s ease;
}

.kittenscuptext {
  position: absolute;
  top: 870px;
  left: -100px;
}

.kittenscuptext p {
  font-family: "Fira Sans Four", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.kittenscuptext h1 {
  margin-top: -10px;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}

#ladybug {
  width: 50px;
  position: absolute;
  top: 650px;
  right: -150px;
}

#branch {
  width: 350px;
  position: absolute;
  top: 620px;
  right: -170px;
  opacity: 0.8;
}


footer {
  margin-top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: #7b746e;
}

@media only screen and (min-width: 2001px) and (max-width: 2560px) {

  .sidebar-left-text {
    margin-left: 20px;
    font-size: 35px;
  }

  .sidebar-right-text {
    margin-right: 0px;
    font-size: 35px;
  }

  .site-content-1 {
    width: 800px;
    height: 2000px;
  }

  #flower1 {
    width: 300px;
    top: 200px;
    left: -470px;
  }

  .boomerangpic img {
    width: 800px;
    top: 450px;
    right: -300px;
  }

  .viewprojectpic1 img {
    width: 800px;
    top: 450px;
    right: -300px;
  }

  .boomerangtext {
    top: 1030px;
    left: 300px;
  }

  .boomerangtext p {
    font-size: 17px;
  }

  .boomerangtext h1 {
    font-size: 20px;
  }

  #whale {
    width: 300px;
    top: 1300px;
    right: -450px;
  }

  #flower2 {
    width: 500px;
    top: 1400px;
    left: 500px;
  }

  .bubbleliciouspic img {
    width: 800px;
    top: 1200px;
    left: -400px;
  }

  .viewprojectpic2 img {
    width: 800px;
    top: 1200px;
    left: -400px;
  }

  .bubblelicioustext {
    top: 1780px;
    left: -400px;
  }

  .bubblelicioustext p {
    font-size: 17px;
  }

  .bubblelicioustext h1 {
    margin-top: -10px;
    font-size: 20px;
  }

  .site-content-2 {
    width: 800px;
    height: 1500px;
  }

  .missingpeoplepic img {
    width: 800px;
    top: 20px;
    right: -300px;
  }

  .viewprojectpic3 img {
    width: 800px;
    top: 20px;
    right: -300px;
  }

  .missingpeopletext {
    top: 600px;
    left: 300px;
  }

  .missingpeopletext p {
    font-size: 17px;
  }

  .missingpeopletext h1 {
    margin-top: -10px;
    font-size: 20px;
  }

  #cycle {
    width: 200px;
    top: 2300px;
    left: 0px;
  }

  .kittenscuppic img {
    width: 800px;
    top: 750px;
    left: -400px;
  }

  .viewprojectpic4 img {
    width: 800px;
    top: 750px;
    left: -400px;
  }

  .kittenscuptext {
    top: 1330px;
    left: -400px;
  }

  .kittenscuptext p {
    font-size: 17px;
  }

  .kittenscuptext h1 {
    margin-top: -10px;
    font-size: 20px;
  }

  #ladybug {
    width: 70px;
    top: 850px;
    right: -350px;
  }

  #branch {
    width: 450px;
    top: 820px;
    right: -350px;
  }

}

@media only screen and (min-width: 1501px) and (max-width: 2000px) {

  .sidebar-left-text {
    margin-left: 5px;
    font-size: 30px;
  }

  .sidebar-right-text {
    margin-right: 0px;
    font-size: 30px;
  }

  .site-content-1 {
    width: 800px;
    height: 2000px;
  }

  #flower1 {
    width: 280px;
    top: 180px;
    left: -270px;
  }

  .boomerangpic img {
    width: 700px;
    top: 550px;
    right: -200px;
  }

  .viewprojectpic1 img {
    width: 700px;
    top: 550px;
    right: -200px;
  }

  .boomerangtext {
    top: 1060px;
    left: 300px;
  }

  .boomerangtext p {
    font-size: 16px;
  }

  .boomerangtext h1 {
    font-size: 19px;
  }

  #whale {
    width: 280px;
    top: 1300px;
    right: -300px;
  }

  #flower2 {
    width: 470px;
    top: 1500px;
    left: 600px;
  }

  .bubbleliciouspic img {
    width: 700px;
    top: 1270px;
    left: -200px;
  }

  .viewprojectpic2 img {
    width: 700px;
    top: 1270px;
    left: -200px;
  }

  .bubblelicioustext {
    top: 1780px;
    left: -200px;
  }

  .bubblelicioustext p {
    font-size: 16px;
  }

  .bubblelicioustext h1 {
    margin-top: -10px;
    font-size: 19px;
  }

  .site-content-2 {
    width: 800px;
    height: 1300px;
  }

  .missingpeoplepic img {
    width: 700px;
    top: 50px;
    right: -200px;
  }

  .viewprojectpic3 img {
    width: 700px;
    top: 50px;
    right: -200px;
  }

  .missingpeopletext {
    top: 560px;
    left: 300px;
  }

  .missingpeopletext p {
    font-size: 16px;
  }

  .missingpeopletext h1 {
    margin-top: -10px;
    font-size: 19px;
  }

  #cycle {
    width: 170px;
    top: 2300px;
    left: 0px;
  }

  .kittenscuppic img {
    width: 700px;
    top: 700px;
    left: -200px;
  }

  .viewprojectpic4 img {
    width: 700px;
    top: 700px;
    left: -200px;
  }

  .kittenscuptext {
    top: 1210px;
    left: -200px;
  }

  .kittenscuptext p {
    font-size: 16px;
  }

  .kittenscuptext h1 {
    margin-top: -10px;
    font-size: 19px;
  }

  #ladybug {
    width: 60px;
    top: 850px;
    right: -250px;
  }

  #branch {
    width: 400px;
    top: 720px;
    right: -250px;
  }

}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {

  .sidebar-left-text {
    margin-left: 5px;
    font-size: 23px;
  }

  .sidebar-right-text {
    margin-right: 0px;
    font-size: 23px;
  }

  .site-content-1 {
    width: 800px;
    height: 1500px;
  }

  #flower1 {
    width: 250px;
    top: 100px;
    left: -170px;
  }

  .boomerangpic img {
    width: 600px;
    top: 300px;
    right: -100px;
  }

  .viewprojectpic1 img {
    width: 600px;
    top: 300px;
    right: -100px;
  }

  .boomerangtext {
    top: 730px;
    left: 300px;
  }

  .boomerangtext p {
    font-size: 15px;
  }

  .boomerangtext h1 {
    font-size: 18px;
  }

  #whale {
    width: 180px;
    top: 970px;
    right: -100px;
  }

  #flower2 {
    width: 350px;
    top: 1100px;
    left: 500px;
  }

  .bubbleliciouspic img {
    width: 600px;
    top: 870px;
    left: -100px;
  }

  .viewprojectpic2 img {
    width: 600px;
    top: 870px;
    left: -100px;
  }

  .bubblelicioustext {
    top: 1300px;
    left: -100px;
  }

  .bubblelicioustext p {
    font-size: 15px;
  }

  .bubblelicioustext h1 {
    margin-top: -10px;
    font-size: 18px;
  }

  .site-content-2 {
    width: 800px;
    height: 1100px;
  }

  .missingpeoplepic img {
    width: 600px;
    top: 30px;
    right: -100px;
  }

  .viewprojectpic3 img {
    width: 600px;
    top: 30px;
    right: -100px;
  }

  .missingpeopletext {
    top: 460px;
    left: 300px;
  }

  .missingpeopletext p {
    font-size: 15px;
  }

  .missingpeopletext h1 {
    margin-top: -10px;
    font-size: 18px;
  }

  #cycle {
    width: 100px;
    top: 2050px;
    left: 0px;
  }

  .kittenscuppic img {
    width: 600px;
    top: 600px;
    left: -100px;
  }

  .viewprojectpic4 img {
    width: 600px;
    top: 600px;
    left: -100px;
  }

  .kittenscuptext {
    top: 1030px;
    left: -100px;
  }

  .kittenscuptext p {
    font-size: 15px;
  }

  .kittenscuptext h1 {
    margin-top: -10px;
    font-size: 18px;
  }

  #ladybug {
    width: 40px;
    top: 800px;
    right: -150px;
  }

  #branch {
    width: 300px;
    top: 720px;
    right: -150px;
  }

}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {

  .sidebar-left-text {
    margin-left: 5px;
    font-size: 20px;
    top: 44vh;
  }

  .sidebar-right-text {
    margin-right: 0px;
    font-size: 20px;
  }

  .site-content-1 {
    width: 800px;
    height: 1300px;
  }

  #flower1 {
    width: 200px;
    top: 30px;
    left: -50px;
  }

  .boomerangpic img {
    width: 500px;
    top: 300px;
    right: 0px;
  }

  .viewprojectpic1 img {
    width: 500px;
    top: 300px;
    right: -0px;
  }

  .boomerangtext {
    top: 660px;
    left: 300px;
  }

  .boomerangtext p {
    font-size: 14px;
  }

  .boomerangtext h1 {
    font-size: 16px;
  }

  #whale {
    width: 130px;
    top: 900px;
    right: -30px;
  }

  #flower2 {
    width: 250px;
    top: 1000px;
    left: 550px;
  }

  .bubbleliciouspic img {
    width: 500px;
    top: 800px;
    left: 0px;
  }

  .viewprojectpic2 img {
    width: 500px;
    top: 800px;
    left: -0px;
  }

  .bubblelicioustext {
    top: 1160px;
    left: 0px;
  }

  .bubblelicioustext p {
    font-size: 14px;
  }

  .bubblelicioustext h1 {
    margin-top: -10px;
    font-size: 16px;
  }

  .site-content-2 {
    width: 800px;
    height: 1000px;
  }

  .missingpeoplepic img {
    width: 500px;
    top: 30px;
    right: 0px;
  }

  .viewprojectpic3 img {
    width: 500px;
    top: 30px;
    right: 0px;
  }

  .missingpeopletext {
    top: 390px;
    left: 300px;
  }

  .missingpeopletext p {
    font-size: 14px;
  }

  .missingpeopletext h1 {
    margin-top: -10px;
    font-size: 16px;
  }

  #cycle {
    width: 90px;
    top: 1750px;
    left: 0px;
  }

  .kittenscuppic img {
    width: 500px;
    top: 500px;
    left: 0px;
  }

  .viewprojectpic4 img {
    width: 500px;
    top: 500px;
    left: 0px;
  }

  .kittenscuptext {
    top: 860px;
    left: 0px;
  }

  .kittenscuptext p {
    font-size: 14px;
  }

  .kittenscuptext h1 {
    margin-top: -10px;
    font-size: 16px;
  }

  #ladybug {
    width: 30px;
    top: 700px;
    right: -50px;
  }

  #branch {
    width: 250px;
    top: 620px;
    right: -50px;
  }

  footer {
    font-size: 12px;
  }

}

@media only screen and (min-width: 801px) and (max-width: 1100px) {

  .sidebar-left-text {
    margin-left: 5px;
    font-size: 15px;
    top: 42vh;
  }

  .sidebar-right-text {
    margin-right: 10px;
    font-size: 15px;
  }

  .site-content-1 {
    width: 600px;
    height: 1100px;
  }

  #flower1 {
    width: 170px;
    top: 0px;
    left: -60px;
  }

  .boomerangpic img {
    width: 430px;
    top: 250px;
    right: -30px;
  }

  .viewprojectpic1 img {
    width: 430px;
    top: 250px;
    right: -30px;
  }

  .boomerangtext {
    top: 560px;
    left: 200px;
  }

  .boomerangtext p {
    font-size: 13px;
  }

  .boomerangtext h1 {
    font-size: 15px;
  }

  #whale {
    width: 110px;
    top: 800px;
    right: -70px;
  }

  #flower2 {
    width: 200px;
    top: 880px;
    left: 450px;
  }

  .bubbleliciouspic img {
    width: 430px;
    top: 670px;
    left: -30px;
  }

  .viewprojectpic2 img {
    width: 430px;
    top: 670px;
    left: -30px;
  }

  .bubblelicioustext {
    top: 980px;
    left: -30px;
  }

  .bubblelicioustext p {
    font-size: 13px;
  }

  .bubblelicioustext h1 {
    margin-top: -10px;
    font-size: 15px;
  }

  .site-content-2 {
    width: 600px;
    height: 800px;
  }

  .missingpeoplepic img {
    width: 430px;
    top: 30px;
    right: -30px;
  }

  .viewprojectpic3 img {
    width: 430px;
    top: 30px;
    right: -30px;
  }

  .missingpeopletext {
    top: 340px;
    left: 200px;
  }

  .missingpeopletext p {
    font-size: 13px;
  }

  .missingpeopletext h1 {
    margin-top: -10px;
    font-size: 15px;
  }

  #cycle {
    width: 50px;
    top: 1500px;
    left: 0px;
  }

  .kittenscuppic img {
    width: 430px;
    top: 450px;
    left: -30px;
  }

  .viewprojectpic4 img {
    width: 430px;
    top: 450px;
    left: -30px;
  }

  .kittenscuptext {
    top: 760px;
    left: -30px;
  }

  .kittenscuptext p {
    font-size: 13px;
  }

  .kittenscuptext h1 {
    margin-top: -10px;
    font-size: 15px;
  }

  #ladybug {
    width: 25px;
    top: 600px;
    right: -50px;
  }

  #branch {
    width: 180px;
    top: 520px;
    right: -50px;
  }

  footer {
    font-size: 10px;
  }

}

@media only screen and (min-width: 501px) and (max-width: 800px) {

  .sidebar-left-text {
    margin-left: 5px;
    font-size: 10px;
    top: 41vh;
  }

  .sidebar-right-text {
    margin-right: 10px;
    font-size: 10px;
  }

  .site-content-1 {
    width: 450px;
    height: 700px;
  }

  #flower1 {
    width: 120px;
    top: -70px;
    left: -0px;
  }

  .boomerangpic img {
    width: 300px;
    top: 100px;
    right: -0px;
  }

  .viewprojectpic1 img {
    width: 300px;
    top: 100px;
    right: -0px;
  }

  .boomerangtext {
    top: 320px;
    left: 150px;
  }

  .boomerangtext p {
    font-size: 9px;
  }

  .boomerangtext h1 {
    font-size: 12px;
  }

  #whale {
    width: 80px;
    top: 480px;
    right: -20px;
  }

  #flower2 {
    width: 170px;
    top: 530px;
    left: 300px;
  }

  .bubbleliciouspic img {
    width: 300px;
    top: 400px;
    left: -0px;
  }

  .viewprojectpic2 img {
    width: 300px;
    top: 400px;
    left: -0px;
  }

  .bubblelicioustext {
    top: 620px;
    left: -0px;
  }

  .bubblelicioustext p {
    font-size: 9px;
  }

  .bubblelicioustext h1 {
    margin-top: -10px;
    font-size: 12px;
  }

  .site-content-2 {
    width: 500px;
    height: 600px;
  }

  .missingpeoplepic img {
    width: 300px;
    top: 40px;
    right: 30px;
  }

  .viewprojectpic3 img {
    width: 300px;
    top: 40px;
    right: 30px;
  }

  .missingpeopletext {
    top: 260px;
    left: 170px;
  }

  .missingpeopletext p {
    font-size: 9px;
  }

  .missingpeopletext h1 {
    margin-top: -10px;
    font-size: 12px;
  }

  #cycle {
    width: 40px;
    top: 1000px;
    left: 0px;
  }

  .kittenscuppic img {
    width: 300px;
    top: 330px;
    left: 30px;
  }

  .viewprojectpic4 img {
    width: 300px;
    top: 330px;
    left: 30px;
  }

  .kittenscuptext {
    top: 550px;
    left: 30px;
  }

  .kittenscuptext p {
    font-size: 9px;
  }

  .kittenscuptext h1 {
    margin-top: -10px;
    font-size: 12px;
  }

  #ladybug {
    width: 20px;
    top: 450px;
    right: 20px;
  }

  #branch {
    width: 150px;
    top: 420px;
    right: -0px;
  }

  footer {
    font-size: 10px;
  }

}

@media only screen and (min-width: 310px) and (max-width: 500px) {

  .sidebar-left-text {
    margin-left: 5px;
    font-size: 10px;
    top: 45vh;
  }

  .sidebar-right-text {
    margin-right: 10px;
    font-size: 10px;
    top: 54vh;
  }

  .site-content-1 {
    width: 200px;
    height: 300px;
  }

  #flower1 {
    width: 70px;
    top: -120px;
    left: -30px;
  }

  .boomerangpic img {
    width: 160px;
    top: -50px;
    right: -30px;
  }

  .viewprojectpic1 img {
    width: 160px;
    top: -50px;
    right: -30px;
  }

  .boomerangtext {
    top: 65px;
    left: 70px;
  }

  .boomerangtext p {
    font-size: 8px;
  }

  .boomerangtext h1 {
    margin-top: -7px;
    font-size: 9px;
  }

  #whale {
    width: 50px;
    top: 130px;
    right: -30px;
  }

  #flower2 {
    width: 100px;
    top: 160px;
    left: 150px;
  }

  .bubbleliciouspic img {
    width: 160px;
    top: 150px;
    left: -30px;
  }

  .viewprojectpic2 img {
    width: 160px;
    top: 150px;
    left: -30px;
  }

  .bubblelicioustext {
    top: 265px;
    left: -30px;
  }

  .bubblelicioustext p {
    font-size: 8px;
  }

  .bubblelicioustext h1 {
    margin-top: -7px;
    font-size: 9px;
  }

  .site-content-2 {
    width: 200px;
    height: 350px;
  }

  .missingpeoplepic img {
    width: 160px;
    top: 30px;
    right: -30px;
  }

  .viewprojectpic3 img {
    width: 160px;
    top: 30px;
    right: -30px;
  }

  .missingpeopletext {
    width: 250px;
    top: 145px;
    left: 70px;
  }

  .missingpeopletext p {
    font-size: 8px;
  }

  .missingpeopletext h1 {
    margin-top: -7px;
    font-size: 9px;
  }

  #cycle {
    width: 50px;
    top: 600px;
    left: 0px;
  }

  .kittenscuppic img {
    width: 160px;
    top: 200px;
    left: -30px;
  }

  .viewprojectpic4 img {
    width: 160px;
    top: 200px;
    left: -30px;
  }

  .kittenscuptext {
    top: 315px;
    left: -30px;
  }

  .kittenscuptext p {
    font-size: 8px;
  }

  .kittenscuptext h1 {
    margin-top: -7px;
    font-size: 9px;
  }

  #ladybug {
    width: 13px;
    top: 250px;
    right: -30px;
  }

  #branch {
    width: 100px;
    top: 250px;
    right: -50px;
  }

  footer {
    font-size: 8px;
  }

}
