html, body {
    width: 100%;
    min-height: 2000px;
    margin: 0 auto;
    padding: 0;
    background-color: #F0F0F0;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header {
  top: 0;
  left: 0;
  position: fixed;
  clear: both;
  background: #9BA5B6;
  width: 100%;
  height: 54px;
  z-index: 100;
  border-bottom: 1px solid #8995A5;
}

 #header h1 {
   position: absolute;
   margin-left: 40px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-family: "Roboto Condensed", sans-serif;
   font-weight: lighter;
   text-transform: uppercase;
   color: #E0E0E0;
}

#header h1 a:hover {
  color: #E0E0E0;
}

a {
  color: #E0E0E0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #E0E0E0;
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
  color: #E0E0E0;
  text-decoration: none;
  text-transform: uppercase;
}

a:active {
  color: #E0E0E0;
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  position: absolute;
  right: 0;
  padding: 8px;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #EDEDED;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav a {
	margin-left: 0px;
  margin-right: 30px;
	color: #EDEDED;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.nav a:hover {
	color: #EDEDED;
	transition: color 0.3s;
}

.nav a::before,
.nav a::after {
  content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #EDEDED;
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
}

.nav a::before {
	top: 0;
	transform: translateY(-10px);
}

.nav a::after {
	bottom: 0;
	transform: translateY(10px);
}

.nav a:hover::before,
.nav a:hover::after {
  opacity: 1;
  transform: translateY(0px);
}

.parallax {
    background-image: url("Pics/headerbackground.jpg");
    height: 100vh;
    margin-top: 55px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#desc h1 {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  top: 40%;
  font-family: "Playfair Display", sans-serif;
  color: #ffffff;
  font-size: 85px;
  font-size: 7vw;
  text-align: center;
  z-index: 20;
}

.tilda {
  width: 100%;
  float: left;
  clear: both;
  margin-top: 70px;
  padding-top: 1.2vw;
}

.tilda img {
  float: left;
  margin-right: 20px;
  width: 30%;
  margin-left: 12%;
}

.tilda h1 {
  float: left;
  margin-top: 50px;
  margin-top: 7vw;
  margin-left: 1.5%;
  font-family: "Playfair Display", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  font-size: 2.4vw;
  text-align: left;
  color: #344152;
  width: 45%;
}

#projects {
  clear: both;
  margin: 0 auto;
  padding-top: 0.1vw;
}

.projecttext {
  margin: 0 auto;
  width: 75%;
  margin-top: 100px;
  margin-bottom: 30px;
}

#projects h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 80px;
  font-size: 6.7vw;
  font-weight: lighter;
  color: #344152;
  text-align: left;
  margin-bottom: 0 !important;
  margin: 0 auto;
}

.projectpolygons {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 88px;
}

#bomunited img {
  float: left;
  width: 17%;
  text-align: center;
  margin-left: 21%;
}

#boomerang img {
  float: left;
  width: 17%;
  margin-left: 2vw;
}

#bubblelicious img {
  float: left;
  width: 17%;
  margin-left: 2vw;
}

#about {
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 7vw;
  clear: both;
}

.cvtilda {
  width: 81%;
  clear: both;
  margin: 0 auto;
  padding: 2%;
  margin-bottom: 3vw;
  background-color: #AFBA95;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  border-radius: 5px;
}

.cvtilda img {
  width: 77%;
  text-align: center;
}

p.open {
  display: inline-block;
  padding-top: 15px;
  font-family: "Roboto Condensed", sans-serif;
  color: #f0f0f0;
  font-size: 21px;
  font-weight: bolder;
}

p.download {
  display: inline-block;
  padding-left: 30px;
  padding-top: 15px;
  font-family: "Roboto Condensed", sans-serif;
  color: #f0f0f0;
  font-size: 21px;
  font-weight: bolder;
}

.cvtilda a {
  color: #f0f0f0;
}

.cvtilda a:hover {
	color: #f0f0f0;
	transition: color 0.3s;
}

.cvtilda a::before,
.cvtilda a::after {
  content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #f0f0f0;
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
}

.cvtilda a::before {
	top: 0;
	transform: translateY(-10px);
}

.cvtilda a::after {
	bottom: 0;
	transform: translateY(10px);
}

.cvtilda a:hover::before,
.cvtilda a:hover::after {
  opacity: 1;
  transform: translateY(0px);
}

#abouttext {
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
  margin-bottom: 5%;
}

.studyleft {
  float: left;
  display: inline-block;
  width: 35%;
  height: 25vw;
  padding: 3%;
  margin-left: 7vw;
  background-color: #9BA5B6;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 5px;
}

.modelright {
  float: left;
  display: inline-block;
  width: 35%;
  height: 25vw;
  padding: 3%;
  margin-left: 3vw;
  background-color: #EFC9BF;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 5px;
}

p.studying {
  font-size: 25px;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
}

.studyleft a {
  color: #ffffff;
  text-decoration: underline;
}

p.left {
  font-size: 20px;
  font-size: 1.6vw;
  text-align: left;
  color: #ffffff;
}

p.modeling {
  font-size: 25px;
  font-size: 2vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  font-family: "Playfair Display", sans-serif;;
}

p.right {
  font-size: 20px;
  font-size: 1.6vw;
  text-align: left;
  color: #000000;
}

p {
  margin: 0 !important;
}

#contact {
  margin: 0 auto;
  width: 75%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 5vh;
  clear: both;
}

.contacttitle h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 80px;
  font-size: 6.7vw;
  font-weight: lighter;
  color: #344152;
  text-align: left;
  margin-bottom: 0 !important;
  margin: 0 auto;
}

.tildacontacts h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-size: ;
  font-weight: lighter;
  line-height: 1.8;
  color: #344152;
  text-align: left;
  margin-bottom: 100px;
  margin: 0 auto;
}

.tildacontacts a {
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  font-size: ;
  font-weight: lighter;
  color: #344152;
  text-align: left;
  margin-bottom: 100px;
  margin: 0 auto;
  text-transform: lowercase;
}

.tildacontacts a:hover {
  color: #6E7A89;
}
