html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}

.sidebar-left {
  display: inline-block;
  opacity: 1;
  transition: opacity 1600ms;
  z-index: 1000;
}

.sidebar-left a, .sidebar-left a:hover, .siderbar-left a:visited {
  color: #000000;
}

.sidebar-right {
  display: inline-block;
  opacity: 1;
  transition: opacity 1600ms;
  z-index: 1000;
}

.sidebar-right a, .sidebar-right a:hover, .siderbar-left a:right {
  color: #000000;
}

.sidebar-email {
  position: fixed;
  z-index: 1002;
  height: 100vh;
  padding-right: 0px;
  text-decoration: none;
}

.sidebar-left-text {
  height: 1.5em;
  position: fixed;
  display: inline-block;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 28px;
  padding: 0;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #000000;
  z-index: 1000;

  -webkit-transform-origin: 0 50%;
   -moz-transform-origin: 0 50%;
   -webkit-transform: rotate(-90deg) translate(-50%, 50%);
   -moz-transform: rotate(-90deg) translate(-50%, 50%);

   -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 3.5s; /* Firefox < 16 */
    -ms-animation: fadein 3.5s; /* Internet Explorer */
     -o-animation: fadein 3.5s; /* Opera < 12.1 */
        animation: fadein 3.5s;
}

.sidebar-right-text {
  height: 1.5em;
  position: fixed;
  display: inline-block;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-right: -70px;
  padding: 0;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #000000;
  z-index: 1000;

  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -webkit-transform: rotate(90deg) translate(-50%, 50%);
  -moz-transform: rotate(90deg) translate(-50%, 50%);

  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3.5s; /* Firefox < 16 */
   -ms-animation: fadein 3.5s; /* Internet Explorer */
    -o-animation: fadein 3.5s; /* Opera < 12.1 */
       animation: fadein 3.5s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }

}

.upper-div {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;
}

.upper-div h1 {
  font-family: "Rukou", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 95px;
  text-align: center;
  text-transform: none;
  color: #000000;
}

.upper-div h2 {
  margin-top: -80px;
  margin-left: -190px;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #eda63d;
}

.upper-div h2 span {
  font-size: 9px;
}

.whoistilda {
  width: 450px;
  height: 110px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 70px;
}

.whoistilda p {
  font-family: "Fira Sans Four", sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 150%;
  word-spacing: 1.7px;
}

.buttons {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 160px;
  margin-left: 70px;
}

#open {
  position: relative;
  text-align: center;
}

#download {
  position: relative;
  margin-top: 25px;
  text-align: center;
}

.box {
  position: relative;
  display: inline-block;
  height: 30px;
  padding: 0 20px;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
  color: #ffae2d;
  cursor: pointer;
  border: 1px solid #000000;
  -webkit-transition:0.5s;
  transition: 0.5s;
  border-radius: 20px;
}

.box:hover {
  border: 1px solid #ededed;
  color: #ffae2d;
  cursor: pointer;
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.box::before {
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 20px;
  -webkit-transform-origin: 0 100%;
}

.box::after {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 20px;
  -webkit-transform-origin: 100% 0%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}

.lower-div {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 110px;
  text-align: center;
}

#study {
  width: 430px;
  height: 280px;
  display: inline-block;
  padding: 30px;
  text-align: left;
  vertical-align: top;
  background-color: #f2f2f2;
  border-radius: 10px;
}

#model {
  width: 430px;
  height: 280px;
  display: inline-block;
  margin-left: 35px;
  padding: 30px;
  text-align: left;
  vertical-align: top;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.lower-div h1 {
  font-family: "Fira Sans Four", sans-serif;
  font-size: 23px;
  font-weight: 300;
  text-transform: uppercase;
}

.lower-div p {
  font-family: "Fira Sans Four", sans-serif;
  margin-top: -20px;
  font-size: 17px;
  font-weight: 100;
}

.lower-div a, .lower-div a:hover, .lower-div a:visited {
 color: #0000EE;
}

.lower-div img {
  width: 60%;
  margin-top: 70px;
}


footer {
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 80px;
  padding: 1rem;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: #7b746e;
}




@media only screen and (min-width: 991px) and (max-width: 1020px) {

  .upper-div h1 {
    font-family: "Rukou", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 90px;
    text-align: center;
    text-transform: none;
    color: #000000;
  }

  .upper-div h2 {
    margin-top: -80px;
    margin-left: -190px;
    font-family: "Fira Sans Four", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #eda63d;
  }


  #study {
    width: 350px;
  }

  #study h1 {
    font-size: 20px;
  }

  #study p {
    font-size: 16px;
  }

  #model {
    width: 350px;
  }

  #model h1 {
    font-size: 20px;
  }

  #model p {
    font-size: 16px;
  }

  .lower-div {
    margin-top: 87px;
  }

  .lower-div img {
    width: 80%;
  }

}


@media only screen and (min-width: 880px) and (max-width: 990px) {

  .sidebar-left-text {
    font-size: 23px;
  }

  .sidebar-right-text {
    font-size: 23px;
    margin-right: -40px;
  }

  .upper-div h1 {
    font-family: "Rukou", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 90px;
    text-align: center;
    text-transform: none;
    color: #000000;
  }

  .upper-div h2 {
    margin-top: -80px;
    margin-left: -190px;
    font-family: "Fira Sans Four", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #eda63d;
  }

  #model {
    margin-left: 0px;
    margin-top: 30px;
  }

  #study h1 {
    font-size: 21px;
  }

  #study p {
    font-size: 16px;
  }

  #model h1 {
    font-size: 21px;
  }

  #model p {
    font-size: 16px;
  }

  .lower-div img {
    width: 80%;
  }

}


@media only screen and (min-width: 665px) and (max-width: 879px) {

  .sidebar-left-text {
    font-size: 19px;
  }

  .sidebar-right-text {
    font-size: 19px;
    margin-right: -40px;
  }

  .upper-div {
    margin-top: 40px;
  }

  .upper-div h1 {
    font-family: "Rukou", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 73px;
    text-align: center;
    text-transform: none;
    color: #000000;
  }

  .upper-div h2 {
    margin-top: -65px;
    margin-left: -190px;
    font-family: "Fira Sans Four", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #eda63d;
  }

  .whoistilda {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 30px;
  }

  .whoistilda  p {
    width: 360px;
    font-size: 12px;
    text-align: left;
  }

  .lower-div {
    margin-top: 75px;
  }

  .buttons {
    margin-top: 90px;
    margin-left: -70px;
  }

  .box {
    height: 25px;
    font-size: 11px;
    line-height: 25px;
  }

  #study {
    width: 380px;
    height: 230px;
  }

  #study h1 {
    font-size: 17px;
  }

  #study p {
    font-size: 15px;
  }

  #model {
    width: 380px;
    height: 230px;
    margin-top: 30px;
    margin-left: 0px;
  }

  #model h1 {
    font-size: 17px;
  }

  #model p {
    font-size: 15px;
  }

  .lower-div img {
    width: 80%;
  }
}


@media only screen and (min-width: 570px) and (max-width: 665px) {

  .sidebar-left-text {
    font-size: 16px;
  }

  .sidebar-right-text {
    font-size: 16px;
    margin-right: -40px;
  }

  .upper-div {
    margin-top: -10px;
  }

  .upper-div h1 {
    font-family: "Rukou", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 65px;
    text-align: center;
    text-transform: none;
    color: #000000;
  }

  .upper-div h2 {
    margin-top: -60px;
    margin-left: -140px;
    font-family: "Fira Sans Four", sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #eda63d;
  }

  .whoistilda {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .whoistilda p {
    width: 240px;
    font-size: 11px
  }

  .buttons {
    margin-top: 80px;
    margin-left: -180px;
  }

  .box {
    height: 20px;
    font-size: 10px;
    line-height: 20px;
  }

  .lower-div {
    margin-top: 65px;
  }

  #study {
    width: 330px;
    height: 180px;
  }

  #study h1 {
    font-size: 15px;
  }

  #study p {
    font-size: 13px;
  }

  #model {
    width: 330px;
    height: 180px;
    margin-top: 30px;
    margin-left: 0px;
  }

  #model h1 {
    font-size: 15px;
  }

  #model p {
    font-size: 13px;
  }

  .lower-div img {
    width: 80%;
  }

}

@media only screen and (min-width: 490px) and (max-width: 569px) {

  .sidebar-left-text {
    font-size: 13px;
  }

  .sidebar-right-text {
    font-size: 13px;
    margin-right: -40px;
  }

  .upper-div {
    margin-top: -150px;
  }

  .upper-div h1 {
    margin-top: 180px;
    font-family: "Rukou", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 55px;
    text-align: center;
    text-transform: none;
    color: #000000;
  }

  .upper-div h2 {
    margin-top: -50px;
    margin-left: -120px;
    font-family: "Fira Sans Four", sans-serif;
    font-size: 9px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #eda63d;
  }

  .whoistilda {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .whoistilda p {
    width: 240px;
    font-size: 11px
  }

  .buttons {
    margin-top: 80px;
    margin-left: -177px;
  }

  .box {
    height: 15px;
    font-size: 8px;
    line-height: 15px;
  }

  .lower-div {
    margin-top: 70px;
  }

  #study {
    width: 330px;
    height: 200px;
  }

  #study h1 {
    font-size: 16px;
  }

  #study p {
    font-size: 14px;
  }

  #model {
    width: 330px;
    height: 190px;
    margin-top: 30px;
    margin-left: 0px;
  }

  #model h1 {
    font-size: 16px;
  }

  #model p {
    font-size: 14px;
  }

  .lower-div img {
    width: 80%;
  }
}

@media only screen and (min-width: 310px) and (max-width: 489px) {


  .sidebar-left-text {
    font-size: 14px;
  }

  .sidebar-right-text {
    font-size: 14px;
    margin-right: -40px;
  }

  .upper-div {
    margin-top: -150px;
  }

  .upper-div h1 {
    margin-top: 180px;
    font-family: "Rukou", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 37px;
    text-align: center;
    text-transform: none;
    color: #000000;
  }

  .upper-div h2 {
    margin-top: -35px;
    margin-left: -70px;
    font-family: "Fira Sans Four", sans-serif;
    font-size: 6px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #eda63d;
  }

  .upper-div h2 span {
    font-size: 6px;
    font-weight: 400;
  }

  .upper-div p {
    width: 250px;
    font-size: 12px;
    font-weight: 400;
  }

  .whoistilda {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 60px;
    text-align: center;
  }

  .whoistilda p {
    width: 200px;
    font-size: 9px;
    font-weight: 300;
    text-align: center;
  }

  .buttons {
    margin-top: -30px;
    margin-left: 0px;
    text-align: center;
  }

  .box {
    height: 15px;
    font-size: 8px;
    line-height: 15px;
  }

  #download {
    margin-top: 12px;
  }

  .lower-div {
    width: 80%;
  }

  .lower-div h1 {
    font-size: 30px;
  }

  .lower-div p {
    width: 250px;
    font-size: 12px;
  }

  #study {
    width: 170px;
    height: 170px;
    padding: 15px;
  }

  #study h1 {
    font-size: 11px;
  }

  #study p {
    width: 170px;
    font-size: 9px;
    font-weight: 500;
  }

  #model {
    width: 170px;
    height: 170px;
    margin-top: 20px;
    margin-left: 0px;
    padding: 15px;
  }

  #model h1 {
    font-size: 11px;
  }

  #model p {
    width: 170px;
    font-size: 9px;
    font-weight: 500;
  }

  .lower-div {
    margin-top: 50px;
  }

  .lower-div img {
    width: 80%;
    margin-top: 40px;
  }

  footer {
    font-size: 10px;
  }

}
