html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: #ededed;
}

body {
  margin: 0;
  min-height: 600px;
  background-color: #ededed;
  background-image: url("Pictures/tildabackg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

ul {
  width: 100%;
  text-align: center;
  margin-top: 0;
  padding: 0;
}

ul #projects, ul #about, ul #contact {
  margin-left: 210px;
}

li {
  position: relative;
  display: inline-block;
  margin-top: 25px;
}

ul a {
  font-family: "Fira Sans Four", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

}
ul a, ul a:visited, ul a:hover, ul a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#000000;
}
ul a:hover{
	color:#000000;
}
ul a.before:before, ul a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
ul a.before:before{
  top:-0.25em;
}
ul a.after:after{
  bottom:-0.25em;
}
ul a.before:before, ul a.after:after{
  height:1px;
  width:0;
  background:#000000;
}
ul a.sixth:before, ul a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
ul a.before:hover:before, ul a.after:hover:after{
  width:100%;
}

.tilda {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0;
  text-align: center;
}

.tilda h1 {
  position: relative;
  margin-top: 0;
  margin-right: 10%;
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
  font-weight: 100;
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000000;
}

.tilda h2 {
  position: relative;
  margin-top: -67px;
  margin-right: 10%;
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
  font-weight: 100;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
}

.upper-div {
  width: 84%;
  position: relative;
  text-align: right;
  margin-top: 50px;
}

.contactbubble {
  width: 300px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.contactbubble h1 {
  font-family: "Fira Sans Four", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.contactbubble p {
  width: 300px;
  margin-top: -10px;
  font-family: "Cardea", serif;
  font-size: 17px;
  font-weight: 100;
  text-align: center;
  color: #000000;
}

#sayhello {
  width: 300px;
  text-align: center;
  margin-top: 20px;
}

.box {
  position: relative;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  vertical-align: middle;
  font-family: "Fira Sans Four", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  color: #fcb258;
  cursor: pointer;
  border: 1px solid #000000;
  -webkit-transition:0.5s;
  transition: 0.5s;
}

.box:hover {
  border: 1px solid #7b746e;
  color: #fcb258;
  cursor: pointer;
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.box::before {
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  -webkit-transform-origin: 0 100%;
}

.box::after {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  -webkit-transform-origin: 100% 0%;
}

.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}

                                        /* PROJECTS - 45 + 30 (photoshop) */

.lower-div {
  margin-top: 177px;
}

#work {
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
}

#boomerang {
  position: relative;
  display: inline-block;
  z-index: 0;
}

#boomerang img {
  width: 550px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 23px;
}

#bubblelicious {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

#bubblelicious img {
  width: 550px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 23px;
}

#missingpeople {
  position: relative;
  display: inline-block;
}

#missingpeople img {
  width: 550px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 23px;
}

#kittenscup {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

#kittenscup img {
  width: 550px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 23px;
}

.button {
  position: absolute;
  width: 550px;
  left: 0;
  top: 193px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  line-height: 50px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .45s ease;
}

.lower-div a, .lower-div a:hover, .lower-div a:visited {
  font-family: "Cardea", serif;
  font-size: 23px;
  font-weight: 100;
  color: #000000;
  transition: 1s ease;
}

#boomerang:hover .button {
  opacity: 1;
}

#bubblelicious:hover .button {
  opacity: 1;
}

#missingpeople:hover .button {
  opacity: 1;
}

#kittenscup:hover .button {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 22px;
  left: 0;
  width: 550px;
  height: 386px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s ease;
}

#boomerang:hover .overlay {
  display: block;
  background: rgba(255, 255, 255, 0.9);
}

#bubblelicious:hover .overlay {
  display: block;
  background: rgba(255, 255, 255, 0.9);
}

#missingpeople:hover .overlay {
  display: block;
  background: rgba(255, 255, 255, 0.9);
}

#kittenscup:hover .overlay {
  display: block;
  background: rgba(255, 255, 255, 0.9);
}


footer {
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 80px;
  margin-bottom: 0px;
  padding: 1rem;
  font-family: "Fira Sans Four", sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: #7b746e;
}






@media only screen and (min-width: 879px) and (max-width: 1130px) {

  .tilda h1 {
    position: relative;
    margin-top: 0;
    margin-right: 70px;
    font-family: "Fjalla One", sans-serif;
    font-size: 70px;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
  }

  .tilda h2 {
    position: relative;
    margin-top: -67px;
    margin-right: 70px;
    font-family: "Fjalla One", sans-serif;
    font-size: 70px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
  }

  .upper-div {
    margin-left: 50px;
  }

  .lower-div {
    margin-top: 160px;
  }

  #boomerang img {
    width: 400px;
  }

  #bubblelicious img {
    width: 400px;
    margin-left: 50px;
  }

  #missingpeople img {
    width: 400px;
    margin-top: 50px;
  }

  #kittenscup img {
    width: 400px;
    margin-top: 50px;
    margin-left: 50px;
  }

}

@media only screen and (min-width: 879px) and (max-width: 990px) {

  ul #projects, ul #about, ul #contact {
    margin-left: 150px;
  }

  .tilda h1 {
    position: relative;
    margin-top: 0;
    margin-right: 30px;
    font-family: "Fjalla One", sans-serif;
    font-size: 70px;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
  }

  .tilda h2 {
    position: relative;
    margin-top: -67px;
    margin-right: 30px;
    font-family: "Fjalla One", sans-serif;
    font-size: 70px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
  }

  .lower-div {
    margin-top: 150px;
  }

  #boomerang img {
    width: 400px;
  }

  #bubblelicious img {
    width: 400px;
    margin-left: 30px;
  }

  #missingpeople img {
    width: 400px;
    margin-top: 30px;
  }

  #kittenscup img {
    width: 400px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 663px) and (max-width: 880px) {

  ul #projects, ul #about, ul #contact {
    margin-left: 100px;
  }

  .tilda h1 {
    position: relative;
    margin-top: 0;
    margin-right: 30px;
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
  }

  .tilda h2 {
    position: relative;
    margin-top: -37px;
    margin-right: 30px;
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
  }

  .upper-div {
    margin-left: 100px;
  }

  .upper-div h1 {
    font-size: 14px;
  }

  .upper-div p {
    margin-top: -5px;
    font-size: 12px;

  }

  .lower-div {
    margin-top: 230px;
  }

  #boomerang img {
    width: 250px;
  }

  #bubblelicious img {
    width: 250px;
    margin-left: 30px;
  }

  #missingpeople img {
    width: 250px;
    margin-top: 30px;
  }

  #kittenscup img {
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 569px) and (max-width: 664px) {

  body {
    background: #ededed;
  }

  ul #home {
    margin-left: 40px;
  }

  ul #projects, ul #about, ul #contact {
    margin-left: 60px;
    text-align: center;
  }

  .tilda h1 {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
  }

  .tilda h2 {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
    margin-top: -10px;
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
  }

  .upper-div {
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
  }

  .upper-div h1 {
    font-size: 14px;
  }

  .upper-div p {
    margin-top: -5px;
    font-size: 12px;

  }

  .lower-div {
    margin-top: 70px;
  }

  #boomerang img {
    width: 450px;
  }

  #bubblelicious img {
    width: 450px;
    margin-left: -20px;
  }

  #missingpeople img {
    width: 450px;
    margin-top: 30px;
  }

  #kittenscup img {
    width: 450px;
    margin-top: 30px;
    margin-left: -20px;
  }
}

@media only screen and (min-width: 489px) and (max-width: 570px) {

  body {
    background: #ededed;
  }

  ul #home {
    margin-left: 20px;
  }

  ul #projects, ul #about, ul #contact {
    margin-left: 50px;
    text-align: center;
  }

  .tilda {
    margin-bottom: 30px;
  }

  .tilda h1 {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
  }

  .tilda h2 {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
    margin-top: -10px;
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
  }

  .upper-div {
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
  }

  .upper-div h1 {
    font-size: 14px;
  }

  .upper-div p {
    margin-top: -5px;
    font-size: 12px;
  }

  .lower-div {
    margin-top: 70px;
  }

  #boomerang img {
    width: 450px;
  }

  #bubblelicious img {
    width: 450px;
    margin-left: -20px;
  }

  #missingpeople img {
    width: 450px;
    margin-top: 30px;
  }

  #kittenscup img {
    width: 450px;
    margin-top: 30px;
    margin-left: -20px;
  }
}

@media only screen and (min-width: 310px) and (max-width: 490px) {

  body {
    background: #ededed;
    width: 320px;
  }

  ul #home {
    margin-left: 0px;
  }

  ul #projects {
    margin-left: 0;
    visibility: hidden;
    font-size: 0px;
  }

  ul #about{
  margin-left: 0px;
  }

  ul #contact {
    margin-left: 0px;
  }

  .tilda {
    margin-bottom: 20px;
    text-align: center;
  }

  .tilda h1 {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000000;
  }

  .tilda h2 {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
    margin-top: -10px;
    font-family: "Fjalla One", sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
  }

  .upper-div {
    margin-left: 0px;
    margin-right: 0px;
    margin: 0 auto;
    text-align: center;
  }

  .upper-div h1 {
    font-size: 12px;
    margin-left: 0px;
  }

  .upper-div span {
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
  }

  .upper-div p {
    margin-top: -2px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }

  .lower-div {
    margin-top: 70px;
  }

  #boomerang img {
    width: 280px;
  }

  #bubblelicious img {
    width: 280px;
    margin-left: -20px;
  }

  #missingpeople img {
    width: 280px;
    margin-top: 30px;
  }

  #kittenscup img {
    width: 280px;
    margin-top: 30px;
    margin-left: -20px;
  }
}


@media only screen and (max-width: 489px) {

  ul #home {
    margin-left: 0px;
  }

  ul #projects {
    margin-left: 0;
    visibility: hidden;
    font-size: 0;
  }

  ul #about {
    margin-left: -35px;
  }

  ul #contact {
    margin-left: 25px;
  }

  .nav a {
    font-size: 10px;
  }
  footer {
    font-size: 10px;
  }

}
