html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.title {
  width: 100%;
  height: 40vh;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  background-image: url("../Pictures/Kittenscup/321.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e2e2e2;
}

.title h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 70px;
  font-weight: 300;
  color: #ededed;
}

.title p {
  width: 230px;
  margin: 0 auto;
  margin-top: -45px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ededed;
  border-bottom: 1px solid #ededed;
}

.title a {
  font-family: "Fjalla One", sans-serif;
  font-size: 17px;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: #ededed;
}

.title a:hover {
  border-bottom: 2px solid #ededed;
}

.project-description {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: 50vh;
  text-align: center;
}

.info-text {
  width: 450px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 50px;
  margin-right: 50px;
}

.info-text p {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  text-align: left;
}

.info-text span {
  font-style: italic;
}

.project-description img{
  width: 400px;
  display: inline-block;
}

.line {
  width: 230px;
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  border-top: 1px solid #000000;
}

.what-how {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.what {
  width: 450px;
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
}

.what h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.what p {
  font-family: "Playfair Display", serif;
  font-size: 17px;
}

.how {
  width: 450px;
  display: inline-block;
  margin: 0 auto;
  margin-left: 50px;
  vertical-align: top;
}

.how h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.how p {
  font-family: "Playfair Display", serif;
  font-size: 17px;
}

.back-home {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.back-home a {
  font-family: "Fjalla One", sans-serif;
  font-size: 17px;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.back-home a:hover {
  border-bottom: 2px solid #000000;
}

.visit-website {
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.visit-website a {
  font-family: "Fjalla One", sans-serif;
  font-size: 17px;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.visit-website a:hover {
  border-bottom: 2px solid #000000;
}

.line2 {
  width: 400px;
  position: relative;
  margin: 0 auto;
  margin-top: 70px;
  border-top: 1px solid #000000;
}

footer {
  margin-top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;
  color: #7b746e;
}

@media only screen and (min-width: 2001px) and (max-width: 2560px) {

  .title h1 {
    font-size: 100px;
  }

  .title p {
    width: 400px;
    margin-top: -55px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    font-size: 35px;
    border-bottom: 2px solid #ffffff;
  }

  .title a {
    font-size: 30px;
  }

  .project-description {
    margin-top: 50vh;
  }

  .info-text {
    width: 750px;
    margin-top: 60px;
    margin-right: 100px;
  }

  .info-text p {
    font-size: 30px;
  }

  .project-description img{
    width: 700px;
  }

  .line {
    width: 400px;
    margin-top: 100px;
  }

  .what-how {
    margin-top: 100px;
  }

  .what {
    width: 750px;
  }

  .what h1 {
    font-size: 50px;
  }

  .what p {
    font-size: 30px;
  }

  .how {
    width: 750px;
    margin-left: 100px;
  }

  .how h1 {
    font-size: 50px;
  }

  .how p {
    font-size: 30px;
  }

  .back-home {
    margin-top: 150px;
  }

  .back-home a {
    font-size: 30px;
  }

  .visit-website {
    margin-top: 70px;
  }

  .visit-website a {
    font-size: 30px;
  }

  .line2 {
    width: 700px;
    margin-top: 100px;
    border-top: 1px solid #000000;
  }

}

@media only screen and (min-width: 1501px) and (max-width: 2000px) {

  .title h1 {
    font-size: 80px;
  }

  .title p {
    width: 270px;
    margin-top: -45px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    font-size: 25px;
    border-bottom: 2px solid #ffffff;
  }

  .title a {
    font-size: 23px;
  }

  .project-description {
    margin-top: 50vh;
  }

  .info-text {
    width: 550px;
    margin-top: 60px;
    margin-right: 90px;
  }

  .info-text p {
    font-size: 25px;
  }

  .project-description img{
    width: 550px;
  }

  .line {
    width: 300px;
    margin-top: 80px;
  }

  .what-how {
    margin-top: 80px;
  }

  .what {
    width: 550px;
  }

  .what h1 {
    font-size: 40px;
  }

  .what p {
    font-size: 22px;
  }

  .how {
    width: 550px;
    margin-left: 100px;
  }

  .how h1 {
    font-size: 40px;
  }

  .how p {
    font-size: 22px;
  }

  .back-home {
    margin-top: 120px;
  }

  .back-home a {
    font-size: 22px;
  }

  .visit-website {
    margin-top: 50px;
  }

  .visit-website a {
    font-size: 22px;
  }


  .line2 {
    width: 500px;
    margin-top: 100px;
    border-top: 1px solid #000000;
  }


}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {

  .title {
    width: 100%;
    height: 40vh;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    background-image: url("../Pictures/Kittenscup/321.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e2e2e2;
  }

  .title h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 70px;
    font-weight: 300;
    color: #ffffff;
  }

  .title p {
    width: 230px;
    margin: 0 auto;
    margin-top: -45px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }

  .title a {
    font-family: "Fjalla One", sans-serif;
    font-size: 17px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }

  .title a:hover {
    border-bottom: 2px solid #ffffff;
  }

  .project-description {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 50vh;
    text-align: center;
  }

  .info-text {
    width: 450px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 50px;
    margin-right: 50px;
  }

  .info-text p {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    text-align: left;
  }

  .info-text span {
    font-style: italic;
  }

  .project-description img{
    width: 400px;
    display: inline-block;
  }

  .line {
    width: 230px;
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    border-top: 1px solid #000000;
  }

  .what-how {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
  }

  .what {
    width: 450px;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
  }

  .what h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 30px;
    font-weight: 300;
  }

  .what p {
    font-family: "Playfair Display", serif;
    font-size: 17px;
  }

  .how {
    width: 450px;
    display: inline-block;
    margin: 0 auto;
    margin-left: 50px;
    vertical-align: top;
  }

  .how h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 30px;
    font-weight: 300;
  }

  .how p {
    font-family: "Playfair Display", serif;
    font-size: 17px;
  }

  .back-home {
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
  }

  .back-home a {
    font-family: "Fjalla One", sans-serif;
    font-size: 17px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }

  .back-home a:hover {
    border-bottom: 2px solid #000000;
  }

  .visit-website {
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }

  .visit-website a {
    font-family: "Fjalla One", sans-serif;
    font-size: 17px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }

  .visit-website a:hover {
    border-bottom: 2px solid #000000;
  }

  .line2 {
    width: 400px;
    position: relative;
    margin: 0 auto;
    margin-top: 70px;
    border-top: 1px solid #000000;
  }

}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {

  .title h1 {
    font-size: 55px;
  }

  .title p {
    width: 180px;
    margin-top: -35px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-size: 16px;
  }

  .title a {
    font-size: 15px;
  }

  .project-description {
    margin-top: 50vh;
  }

  .info-text {
    width: 350px;
    margin-top: 20px;
    margin-right: 50px;
  }

  .info-text p {
    font-size: 15px;
  }

  .project-description img{
    width: 350px;
  }

  .line {
    width: 200px;
    margin-top: 60px;
  }

  .what-how {
    margin-top: 40px;
  }

  .what {
    width: 350px;
  }

  .what h1 {
    font-size: 25px;
  }

  .what p {
    font-size: 14px;
  }

  .how {
    width: 350px;
    margin-left: 40px;
  }

  .how h1 {
    font-size: 25px;
  }

  .how p {
    font-size: 14px;
  }

  .back-home {
    margin-top: 80px;
  }

  .back-home a {
    font-size: 15px;
  }

  .visit-website {
    margin-top: 20px;
  }

  .visit-website a {
    font-size: 15px;
  }

  .line2 {
    width: 300px;
    margin-top: 70px;
  }

  footer {
    font-size: 12px;
  }

}

@media only screen and (min-width: 801px) and (max-width: 1000px) {

  .title h1 {
    font-size: 46px;
  }

  .title p {
    width: 160px;
    margin-top: -25px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .title a {
    font-size: 14px;
  }

  .project-description {
    margin-top: 50vh;
  }

  .info-text {
    width: 300px;
    margin-top: 20px;
    margin-right: 50px;
  }

  .info-text p {
    font-size: 14px;
  }

  .project-description img{
    width: 300px;
  }

  .line {
    width: 180px;
    margin-top: 60px;
  }

  .what-how {
    margin-top: 40px;
  }

  .what {
    width: 300px;
  }

  .what h1 {
    font-size: 23px;
  }

  .what p {
    font-size: 13px;
  }

  .how {
    width: 300px;
    margin-left: 40px;
  }

  .how h1 {
    font-size: 23px;
  }

  .how p {
    font-size: 13px;
  }

  .back-home {
    margin-top: 60px;
  }

  .back-home a {
    font-size: 14px;
  }

  .visit-website {
    margin-top: 20px;
  }

  .visit-website a {
    font-size: 14px;
  }

  .line2 {
    width: 260px;
    margin-top: 70px;
  }

  footer {
    font-size: 10px;
    margin-top: 20px;
  }

}

@media only screen and (min-width: 501px) and (max-width: 800px) {

  .title h1 {
    font-size: 46px;
  }

  .title p {
    width: 150px;
    margin-top: -25px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .title a {
    font-size: 13px;
  }

  .project-description {
    margin-top: 50vh;
  }

  .info-text {
    width: 450px;
    margin-top: 0px;
    margin-right: 0px;
  }

  .info-text p {
    font-size: 13px;
    text-align: center;
  }

  .project-description img{
    width: 350px;
    margin-top: 40px;
  }

  .line {
    width: 180px;
    margin-top: 100px;
  }

  .what-how {
    margin-top: 40px;
  }

  .what {
    width: 400px;
  }

  .what h1 {
    font-size: 25px;
  }

  .what p {
    font-size: 13px;
  }

  .how {
    width: 400px;
    margin-top: 20px;
    margin-left: 0px;
  }

  .how h1 {
    font-size: 25px;
  }

  .how p {
    font-size: 13px;
  }

  .back-home {
    margin-top: 70px;
  }

  .back-home a {
    font-size: 12px;
  }

  .visit-website {
    margin-top: 30px;
  }

  .visit-website a {
    font-size: 12px;
  }

  .line2 {
    width: 180px;
    margin-top: 40px;
  }

  footer {
    font-size: 10px;
    margin-top: 20px;
  }

}

@media only screen and (min-width: 310px) and (max-width: 500px) {

  .title h1 {
    font-size: 47px;
  }

  .title p {
    width: 130px;
    margin-top: -30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 13px;
  }

  .title a {
    font-size: 12px;
  }

  .project-description {
    margin-top: 50vh;
  }

  .info-text {
    width: 280px;
    margin-top: -20px;
    margin-right: 0px;
  }

  .info-text p {
    font-size: 12px;
    text-align: center;
  }

  .project-description img{
    width: 250px;
    margin-top: 40px;
  }

  .line {
    width: 100px;
    margin-top: 50px;
  }

  .what-how {
    margin-top: 40px;
  }

  .what {
    width: 280px;
  }

  .what h1 {
    font-size: 22px;
  }

  .what p {
    font-size: 10px;
  }

  .how {
    width: 280px;
    margin-top: 20px;
    margin-left: 0px;
  }

  .how h1 {
    font-size: 22px;
  }

  .how p {
    font-size: 10px;
  }

  .back-home {
    margin-top: 70px;
  }

  .back-home a {
    font-size: 12px;
  }

  .visit-website {
    margin-top: 30px;
  }

  .visit-website a {
    font-size: 12px;
  }

  .line2 {
    width: 180px;
    margin-top: 40px;
  }

  footer {
    font-size: 8px;
    margin-top: 10px;
  }

}
